*{
	margin: 0;
	padding: 0;
	
}
.navbar-brand{
	font-size: 25px;	
	}

	.container
{
	background-color: grey;
}

.navbar{

border: none;
background-color: black;
color: #61122F;
}

body{
	background-color: #009751;
	color: white;
}
.glyphicon{
	font-size: 25px;
	color:#c50000; 
}

.center{
	width: 90%;
	background-color: grey;

}

.text-center{
	font-size: 35px;
}

h2{
	text-align: center;
}
#theNavbar ul li a {
	color: #e4e4e4;
}
